.background    { background: rgb(66, 244, 110);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(197, 244, 66); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.coin   { background: rgb(244, 80, 66); }
.player { background: rgb(164, 66, 244); }
.Jimbo{ background: blue;}
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
